@import url(normalize.css);

@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Manrope:wght@200..800&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    color: var(--white);
}

p,
a {
    font-family: "Manrope", sans-serif;
}

h1,
h2 {
    font-family: "Fraunces", serif;
}

.cta-content a:hover,
.hero-text a:hover {
    background-color: transparent;
    border: 1px var(--accent-color) solid;
    color: var(--accent-color);
}

:root {
    --white: #FFFFFF;
    --black: #24053E;
    --accent-color: #44FFA1;
    --social: #584D62;
    --grey: #FCF8FF;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

main {
    width: 100%;
}

.top-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.top-main {
    width: 100%;
    background-color: var(--black);
}

.nav {
    background-color: var(--black);
    text-align: center;
    display: flex;
    padding: 56px 80px 0px 80px;
}

.nav img {
    width: 94px;
    object-fit: cover;
}

.nav a {
    text-underline-offset: 8px;
    font-weight: bold;
    font-size: 18px;
    line-height: 180%;
    letter-spacing: 0px;
    text-decoration: 3px underline var(--accent-color);
    margin-left: auto;
    transition: all ease 0.3s;
}

.nav a:hover {
    color: var(--accent-color);
}

.hero {
    position: relative;
    width: 100%;
}

.hero .object1 {
    position: absolute;
    top: 48px;
    left: 0px;
}

.hero .object2 {
    position: absolute;
    top: 252px;
    right: 0px;
}

.hero-text {
    width: 50%;
    text-align: center;
    padding: 56px 80px 296px 80px;
    margin: 0px auto;
}

.hero-text h1 {
    font-weight: 400px;
    font-size: 80px;
    line-height: 100%;
    letter-spacing: 0px;
    margin-bottom: 40px;
    margin-top: 0px;
}

.hero-text h1 span {
    text-underline-offset: 8px;
    text-decoration: 3px underline var(--accent-color);
}

.hero-text a {
    border: 1px transparent solid;
    text-decoration: none;
    padding: 12px 32px;
    color: var(--black);
    background-color: var(--accent-color);
    font-weight: bold;
    font-size: 18px;
    line-height: 180%;
    letter-spacing: 0px;
    transition: all ease 0.3s;
}

.container-phone {
    width: 100%;
    background-color: var(--grey);
}

.phone {
    width: 768px;
    margin-top: -280px;
}

.top-page .ornamental {
    margin-top: 0px;
    background-color: var(--black);
    width: 100%;
}

.mid-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.mid-main {
    padding: 88px 80px 144px 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    background-color: var(--grey);
    gap: 32px;
}

.value {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 352px;
}

.value * {
    color: var(--black);
}

.mid-page .ornamental {
    margin-top: 0px;
    background-color: var(--grey);
    width: 100%;
}

.number {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 8px 24px;
    width: 56px;
    height: 56px;
    border: 1px var(--social) solid;
    border-radius: 50%;
    margin-bottom: 56px;
    font-weight: 400px;
    font-size: 24px;
    line-height: 40px;
    letter-spacing: 0px;
    margin-top: 0px;
}

.value-text h2 {
    margin-bottom: 28px;
    font-weight: 400px;
    font-size: 32px;
    line-height: 120%;
    letter-spacing: 0px;
}

.value-text p {
    font-weight: normal;
    font-size: 18px;
    line-height: 180%;
    letter-spacing: 0px;
}

.bottom-main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    padding: 112px 80px 0px 80px;
}

.cta {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.cta-profil {
    width: 0%;
    margin-bottom: 102px;
    margin-right: 37%;
}

.cta-profil img {
    width: 478px;
    height: 478px;
    object-fit: cover;
}

.cta-content {
    position: relative;
    padding: 64px;
    margin-top: 168px;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.cta-content h2 {
    font-weight: 400px;
    font-size: 56px;
    line-height: 120%;
    letter-spacing: 0px;
}

.cta-content p {
    font-weight: normal;
    font-size: 18px;
    line-height: 180%;
    letter-spacing: 0px;
}

.cta-content a {
    text-decoration: none;
    padding: 12px 32px;
    color: var(--black);
    border: 1px transparent solid;
    background-color: var(--accent-color);
    font-weight: bold;
    font-size: 18px;
    line-height: 180%;
    letter-spacing: 0px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all ease 0.3s;
}

.cta-content .object3 {
    position: absolute;
    bottom: -64px;
    right: 108px;
}

footer {
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 112px 80px;
}

.logo-footer img {
    object-fit: cover;
    width: 94px;
    margin-bottom: 56px;
}

.list-social {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
    gap: 28px;
}

.list-social a {
    display: block;
    width: 20px;
    height: 20px;
}

.list-social img {
    width: 100%;
    object-fit: cover;
}

.social {
    position: relative;
}

.logo-hover {
    opacity: 0%;
    position: absolute;
    top: 0;
    left: 0px;
    transition: all ease 0.3s;
}

.logo-hover:hover {
    opacity: 100%;
}

@media only screen and (max-width: 768px) {
    .nav {
        padding: 32px 44px 0px 44px;
    }

    .hero-text {
        width: 80%;
        padding: 56px 44px 144px 44px;
    }

    .hero-text h1 {
        font-size: 60px;
    }

    .phone {
        margin-top: -120px;
        width: 602px;
        padding: 0px 44px;
    }

    .mid-main {
        padding: 56px 44px 44px 44px;
        display: flex;
        flex-direction: column;
    }

    .value {
        text-align: left;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    .number {
        margin-bottom: 0px;
        margin-right: 56px;
        font-size: 20px;
    }

    .value-text h2 {
        font-size: 28px;
    }

    .value-text p {
        font-size: 16px;
    }

    .bottom-main {
        padding: 60px 44px 0px 44px;
    }

    .cta {
        width: 100%;
    }

    .cta-profil {
        padding-bottom: 178px;
        margin-right: 25%;
    }

    .cta-profil img {
        width: 280px;
        height: 280px;
    }

    .cta-content {
        padding: 48px;
    }

    .cta-content h2 {
        font-size: 48px;
    }

    .cta-content p {
        font-size: 16px;
    }

    .cta-content a {
        width: 60%;
    }

    footer {
        padding: 80px;
    }
}

@media only screen and (max-width: 520px) {

    .cta-content .object3,
    .hero .object2,
    .hero .object1 {
        display: none;
    }

    .nav {
        padding: 32px 20px 0px 20px;
    }

    .hero-text {
        width: 100%;
        padding: 56px 20px 144px 20px;
    }

    .hero-text h1 {
        font-size: 48px;
    }

    .hero-text a {
        font-size: 16px;
    }

    .phone {
        padding: 0px 20px;
        margin-top: -102px;
        width: 360px;
    }

    .mid-main {
        padding: 64px 20px;
        display: flex;
        flex-direction: column;
    }

    .value {
        text-align: center;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .number {
        margin-bottom: 24px;
        margin-right: 0px;
        font-size: 20px;
    }

    .value-text h2 {
        font-size: 24px;
        margin-bottom: 16px;
    }

    .value-text p {
        font-size: 16px;
    }

    .bottom-main {
        padding: 60px 20px 0px 20px;
    }

    .cta {
        width: 100%;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .cta-profil {
        padding-bottom: 0px;
        margin-bottom: -48px;
        margin-right: 0px;
        display: flex;
        width: 280px;
        height: 280px;
    }

    .cta-profil img {
        width: 100%;
        height: 100%;
    }

    .cta-content {
        padding: 48px;
        margin-top: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .cta-content h2 {
        font-size: 48px;
    }

    .cta-content p {
        font-size: 16px;
    }

    .cta-content a {
        width: 80%;
    }

    footer {
        padding: 80px;
    }
}